.rsvp-section{

    margin:120px auto;

    text-align:center;

    padding:60px 25px;

     background:rgba(235, 239, 217, 0.75);

    backdrop-filter: blur(20px);

    border:1px solid rgba(255,255,255,.18);

    border-radius:30px;

    max-width:650px;

    box-shadow:
        0 25px 70px rgba(0,0,0,.25);

    transition:.4s ease;
}

.rsvp-section:hover{

    transform:translateY(-5px);
}

.rsvp-title{

   font-family:'Great Vibes', cursive;

    font-size:50px;

  color:#bb8404;

    margin-bottom:10px;

    text-shadow:0 10px 30px rgba(0,0,0,.2);
}

.rsvp-sub{

    font-size:14px;

    color:#666;

    margin-bottom:35px;
}

/* FORM */
.rsvp-form{

    display:flex;
    flex-direction:column;

    gap:18px;
}

/* INPUTS */
.rsvp-form input,
.rsvp-form select{

    padding:15px;

    border-radius:14px;

    border:1px solid rgba(0,0,0,.08);

    outline:none;

    font-size:15px;
    font-family: 'Amiri', serif;

    background: rgba(255,255,255,.85);

    transition:.3s ease;
}

.rsvp-form input:focus,
.rsvp-form select:focus{

    border-color:#bb8404;

    box-shadow:0 0 10px rgba(212, 55, 126, 0.3);
}

/* COUNTER */
.guests-counter{

    display:flex;
    justify-content:space-between;
    align-items:center;
font-family: 'Amiri', serif;
    padding:12px 14px;

    border-radius:14px;

    background: rgba(255,255,255,.6);

    border:1px solid rgba(0,0,0,.08);
}

.guests-counter span{

    font-weight:600;

    color:#444;
}

.counter{

    display:flex;
    align-items:center;
    gap:8px;
}

.counter button{

    width:32px;
    height:32px;

    border:none;

    border-radius:50%;

    cursor:pointer;

    font-size:18px;
font-family: 'Amiri', serif;
    background:#bb8404;

    color:#fff;

    transition:.3s ease;
}

.counter button:hover{

    transform:scale(1.1);
}

.counter input{

    width:50px;

    text-align:center;

    border:none;

    background:transparent;

    font-size:16px;
}

/* BUTTON */
.rsvp-form button[type="submit"]{

    padding:15px;

    border:none;

    border-radius:35px;

    background: linear-gradient(135deg,#bb8404,#ce9104);

    color:#fff;

    font-size:16px;
font-family: 'Amiri', serif;
    cursor:pointer;

    transition:.3s ease;

   
}

.rsvp-form button[type="submit"]:hover{

    transform:translateY(-3px);

   
}

/* RESPONSIVE */
@media(max-width:768px){

    .rsvp-section{

        margin:80px 15px;

        padding:40px 18px;
    }

    .rsvp-title{

        font-size:40px;
    }

    .guests-counter{

        flex-direction:column;

        gap:10px;
    }

    .counter button{

        width:30px;
        height:30px;
    }
}