* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background: #f1e8cf;
    overflow-x: hidden;
}

.intro-screen {
    position: fixed;
    inset: 0;

   background: #f1e8cf;
    z-index: 9999;

    overflow: hidden;
}

/* =========================
   VIDEO FIX (IOS + ANDROID SAFE)
========================= */
.intro-video {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;

    z-index: 1;

    /* 🔥 أهم تعديل */
   
 background: #f1e8cf;
    /* تحسين iOS rendering */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    will-change: transform;

    /* بدل scale الكبير (بيكسر iPhone أحيانًا) */
    transform: scale(1.25);
}
/* =========================
   MAIN
========================= */
.main {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease;
}

.main.show {
    opacity: 1;
    visibility: visible;
}

/* =========================
   MUSIC PLAYER
========================= */
.music-player {
    position: fixed;

    bottom: 25px;
    left: 25px;

    z-index: 99999;
}

#musicBtn {
    width: 68px;
    height: 68px;

    border: none;
    outline: none;

    border-radius: 50%;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        145deg,
        rgba(255,255,255,.22),
        rgba(255,255,255,.06)
    );

    backdrop-filter: blur(20px);

    border: 1px solid rgba(255,255,255,.15);

    box-shadow:
        0 12px 35px rgba(0,0,0,.35),
        inset 0 1px 1px rgba(255,255,255,.18);

    transition: .4s ease;
}

#musicBtn:hover {
    transform: translateY(-4px) scale(1.06);
}

/* disc */
.music-disc {
    width: 52px;
    height: 52px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: radial-gradient(circle, #f5ed96, #dda41d);

    color: #fff;

    font-size: 20px;

    box-shadow: 0 0 22px rgba(255,80,120,.45);
}

/* spinning */
#musicBtn.playing .music-disc {
    animation: discSpin 4s linear infinite;
}

@keyframes discSpin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* =========================
   MOBILE
========================= */
@media (max-width: 768px) {

    .music-player {
        bottom: 18px;
        left: 18px;
    }

    #musicBtn {
        width: 60px;
        height: 60px;
    }

    .music-disc {
        width: 46px;
        height: 46px;
        font-size: 17px;
    }
}